html, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.content{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: monospace;
    font-size: large;
    color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
}

.arrow {
    color: #efefef;
    font-size: 70px;
    z-index: 1;
}

.arrow:hover {
    color: #b91372;
    cursor: pointer;
}

.arrow-name {
    font-size: large;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
}

.dark {
    color: #576066;
}

.dark:hover {
    cursor: default;
    color: #576066;
}


@media(max-width: 480px){

}