* {
    box-sizing: border-box;
}

.navMenu{
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 60px;
}

.menu {
    display: flex;
    align-items: center;
}

.github-link {
    position: absolute;
    top: 10px;
    left: 10px;
}

.github-img {
    max-width: 50px;
    height: auto;
}

.github-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.linkedin-link {
    position: absolute;
    top: 10px;
    left: 70px;
}

.linkedin-img {
    max-width: 50px;
    height: auto;
}

.linkedin-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.menuButton {
    position: absolute;
    top: -2px;
    right: 0;
    background-color: inherit;
    border: none;
    font-size: 60px;
    color: #efefef;
    transition: transform ease-in;
}

.menuButton:hover {
    cursor: pointer;
    text-shadow: 0 0 4px #19647e;
    transform: scale(1.1);
    color: #fff;
}

.menuButton:active {
    transform: scale(1);
}

.show {
    transform: translateY(0%);
    transition: transform ease-in 0.4s;
}

.hide {
    transform: translateY(-150%);
    transition: transform ease-in 0.4s;
}

li {
    list-style-type: none;
}

li button {
    background-color: inherit;
    border: none;
    font-size: large;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 5px;
    animation-name: buttonColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

li button:hover {
    cursor: pointer;
    text-decoration: underline 3px;
}

li button:active {
    transform: scale(0.95);
    text-decoration: none;
}

@keyframes buttonColorPalette {
    0% {
        color: #efefef;
    }
    25% {
        color: #ffc53a;
    }
    50% {
        color: #f26419;
    }
    75% {
        color: #d72638;
    }
    100% {
        color: #b91372;
    }
}
